.container{
    width: 1442px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
  }

.header{
    margin-top: -20px;
}

.header-top__list{
    float: right;
    margin-bottom: 0
}

.header-top-list__item{
    list-style: none;
    display: inline-block;
    color: #6d6d6d;
    font-size: 16px;
    text-transform: uppercase;
}

.header-top-list__item-link{
    text-decoration: none;
    text-transform: none;
    padding: 4px 10px 6px 8px;
}

.header-top-list__item-link:hover{
    background: url(../image/header__top-hover-bg.png) repeat-x center;
    color: #fff;
}

.header-logo-wrapper{
    clear: right;
    margin:0 22px 22px;
}

.header-menu{
    background: #4fbdf0;
    padding: 5px 0 7px;
}

.header-menu-list{
    margin: 0 92px 0 0;
    list-style: none;
    margin-left: 420px;
    display: inline-block;
}

.header-menu-list__item{
    display: inline-block;
    margin: 0 10px;
}

.header-menu-list__item-link{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 3px 3px 0.5px;
    color: #fff;
}

.header-menu-list__item-link:hover{
    border-bottom: 7px solid #307e0f;
}

.header-menu__wrapper{
    display: inline-block;
    margin: 0 5px -7px;
    vertical-align: bottom;
    cursor: pointer;
}

.aside{
    float: left;
    padding: 10px 22px 0 70px;
}

.aside__info{
    background: #f8f7f7;
    width: 327px;
    border: 1px solid #d6d6d6;
    
}

.aside-info__left{
    width: 195px;
    float: left;
}

.aside-info-left__wrapper-avatar{
    margin: 11px 0 15px 15px;
    float: left;    
}

.aside-info-left__namebox{
    padding-bottom: 20px;
    margin-left: -14px;
    width: 130px;
    float: right;
}

.aside-info-left-namebox__name-wrapper{
    margin-top: 25px;
    text-align: center;
}

.aside-info-left-namebox__name-link{
    text-decoration: underline 2px;
    color: #7e7e7e;
    font-size: 22px;  
}

.aside-info-left-namebox__buy-link,.aside-info-left-namebox__get-link{
    text-decoration: none;
    color: #fff;
    background: url(../image/aside__name-buy.png) center no-repeat;
    padding: 6px 19px;
}

.aside-info-left-namebox__get-link{
    background: url(../image/aside__name-get.png) center no-repeat;
}

.aside-info-left-namebox__botton-wrapper{
    margin-top: 15px;
    text-align: center;
}

.aside-info__right{
    width: 130px;
    float: right;
}

.aside-info-right__wrapper-pen{
    margin: 8px 15px 0 0;
    float: right;
    cursor: pointer;
}

.aside-info-right__credits{
    clear: right;
    padding-top: 9px; 
}

.aside-info-right-credits__counting,.aside-info-right-credits__name,.aside-info-right-credits__disstatus{
    color: #459025;
    font-size: 20px;
    margin: 16px 0 0;
    font-weight: 600;
}

.aside-info-right-credits__name{
    color: #6d6d6d;
    font-weight: 400;
    margin-bottom: -3px;
}

.aside-menu-list{
    text-align: left;
    padding-left: 0;
    margin-left: -10px;
}

.aside-menu-list__item{
    list-style: none;
    width: 270px;
    border-bottom: 2px solid #b2b2b2;
    margin: 10px 9px;
    color: #323232;
    font-size: 20px;
    padding: 10px 0;
    box-sizing: border-box;
}

.aside-menu-list__link{
    display: block;
    text-decoration: none;
    width: 270px;
}

.aside-menu-list__item-ico-wrapper{
    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0 20px 0 5px;
}

.aside-menu-list__item-counting{
    float: right;
    margin-right: 5px;
}

.aside-menu-list__item-guestscounting{
    color: #0290d1;
    font-weight: 550;
}

.aside-menu-list__item-header{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px solid #323232; 
}

.footer{
    width: 1900px;
    border-top: 8px solid #4fbdf0;
    clear: both;
    margin: 0 auto;
    padding: 70px 0 320px; 
}

.footer__left{
    text-align: center;
    width: 310px;
    float: left;
    margin: 15px 50px 70px 60px;
}

.footer__services{
    width: 220px;
    display: inline-block;
    vertical-align: top;
}

.footer-services__list{
    
    font-size: 14px;
    color: #7f797b;
    list-style: none;
    width: 215px;
}

.footer-services-list__item{
    margin-top: 10px;
}

.footer-services-list__item-link{
    color: #7f797b;
}

.footer-services__list:first-child .footer-services-list__item{
    color: #00618e;
    font-size: 20px;
    margin: 0 0 20px;
}

.footer__followus{
    float: right;
}

.footer-followus-list__item{
    display: inline-block;
    margin: 0 2px 40px;
}

.footer-followus-list__item-header{
    color: #00618e;
    font-size: 20px;
    margin: 0 0 20px 40px;
    list-style: none;
}

.footer-followus__stores{
    float: right;
}

.footer__bot{
    clear: both;   
}

.footer-bot__list{
    padding-left: 0;
}

.footer-bot-list__item{
    display: inline-block;
    padding: 0 5px 2px;
    border-left: 2px solid #b6b6b6;
}

.footer-bot-list__item:first-child{
    border-left: none;
}

.footer-bot-list__item-link,.footer-bot__text{
    text-decoration: none;
    color:#7f797b;  
}